.consultation {
   background: url(../img/consultation.jpg) center (center/cover) no-repeat;
   min-height: 680px;
   padding: 100px 0 92px 0;
   &__description {
      color: #ffffff;
      font-size: 20px;
      font-weight: 500;
      margin-top: 80px;
      text-align: left;
   }
   input.error {
      border: 1px solid red;
   }
   label.error {
      color: #ffffff;
      border: none;
      margin-bottom: 15px;
      text-align: center;
   }
}