.feed {
   padding-bottom: 61px;
   &__item {
      display: flex;
      margin-top: 100px;
      &:nth-child(2) {
         margin-top: 70px;
      }
   }
   &__img{
      height: 169px;
      width: 169px;
   }
   &__text {
      margin-left: 60px;
   }
   &__subtitle {
      color: #0d0d0d;
      font-size: 18px;
      font-weight: 700;
   }
   &__count {
      font-size: 14px;
      font-weight: 500;
      color: #646464;
   }
   &__descr {
      color: #0d0d0d;
      font-size: 16px;
      font-weight: 300;
      margin-top: 10px;
   }
}