.promo {
   background: url('../img/main.jpg') center (center/cover) no-repeat;
   min-height: 650px;
   padding: 21px 0 93px 0;
   &__wrapper {
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      margin-top: 90px;
   }
   &__header {
      color: #ffffff;
      font-size: 42px;
      font-weight: 700;
      line-height: 42px;
      text-transform: uppercase;
   }
   &__subheader {
      color: #ffffff;
      font-size: 24px;
      font-weight: 500;
      line-height: 24px;
      margin-top: 17px;
      text-transform: uppercase;
   }
   &__icons {
      display: flex;
      justify-content: space-between;
      margin-top: 65px;
      width: 425px;
   }
   &__icon {
      color: #fff;
      font-size: 14px;
      font-weight: 500;
      text-align: center;
      width: 108px;
      img {
         display: block;
         margin: 0 auto;
         margin-bottom: 20px;
      }
   }
   &__link {
      color: #fff;
      font-size: 16px;
      font-weight: 500;
      line-height: 16px;
      margin-top: 18px;
      a {
         color: #fff;
         text-decoration: underline;
         text-transform: uppercase;
      }
   }
}